<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828656979428-gj6dsb799srlsltg0raf0552e8pb0357.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828656979428-gj6dsb799srlsltg0raf0552e8pb0357</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxkqCXwXnQFnUi6ilXYFrxhQt9qu9HJk</string>
	<key>GCM_SENDER_ID</key>
	<string>828656979428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkan.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-2</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828656979428:ios:f666f39b5c2ae597de8bf1</string>
</dict>
</plist>